<template>
    <div class="land-card-container">
        <img src="https://province-images.ams3.digitaloceanspaces.com/images/land.png" class="land-image" />
        <div class="land-card-description-container">
            <p class="land-card-headline">Details</p>
            <div class="land-card-details-container">
                <p class="land-card-title">
                    Plot Number:
                    <span class="land-card-subtitle">{{ item.plot_int }}</span>
                </p>
                <p class="land-card-title">
                    Fertility:
                    <span class="land-card-subtitle-green">{{
                        item.fertility *100
                    }}%</span>
                </p>
                <p class="land-card-title">
                    Plot Type:
                    <span class="land-card-subtitle"> Land </span>
                </p>
                <p class="land-card-title">
                    Minerals:<span class="land-card-subtitle-green">
                        {{ item.minerals *100 }}%</span
                    >
                </p>
                
                 <p class="land-card-title">
                    Status:<span class="land-card-subtitle-green">
                        {{ item.land_status }}</span
                    >
                </p>
            </div>
        </div>
        <div class="land-buttons-container">
            <province-button
                :variant="dropdown_button"
                :selected="isLandBtnPressed ? true : false"
                text="Sell"
                @click="click_sell"
            />
        </div>
        <sell-dropdown
            v-if="isLandBtnPressed"
            parent="LandCard"
            :land = "item"
            @cancel="landSellClose($event)"
        />
    </div>
</template>

<script>
import ProvinceButton from '@/assets/components/ProvinceButton.vue';
import './land-card.scss';
import SellDropdown from '../SellDropdown/SellDropdown.vue';

import { mapGetters } from 'vuex';


export default {
    name: 'LandCard',
    components: { ProvinceButton, SellDropdown },
    props: {
        item: {
            type: Object,
            default: null,
        },
        filters: {
            type: Boolean,
            default: null,
        },
    },
    data() {
        return {
            isLandBtnPressed: false,
            active: false
        };
    },
    
    computed: {
        ...mapGetters([
            'reset',
            'waiting_signature',
            'waiting_network',
        ]),
        
        dropdown_button(){
            
            if( this.waiting_signature || this.waiting_network ){
                return 'green-btn-disabled'
            }
            return 'green-btn'
            
        }
        
    },
    
    watch: {
        
        'reset' : function(){
            this.isLandBtnPressed = false;
        } 
        
    },

    

   
    methods: {
        
        async click_sell(){
            await this.$store.dispatch('flip_reset');
            this.isLandBtnPressed = !this.isLandBtnPressed
            
        },
        
        landSellClose(event) {
            this.isLandBtnPressed = event;
        },
    },
};
</script>
