@import "../../assets/global.scss";

.land-card-container {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    column-gap: 92px;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 7px 17px rgba(121, 121, 121, 0.07), 0px 2px 10px rgba(121, 121, 121, 0.0425185), 0px -3px 19px rgba(121, 121, 121, 0.0274815);
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.land-view-header-headline {
    @include headline-md-font;
    color: $light-gray;
}
.land-image {
    width: 100%;
}
.land-buttons-container {
    margin-left: auto;
    display: flex;
    column-gap: 40px;
    grid-row-start: 2;
    grid-column-start: 2;
}
.land-card-title {
    @include link-font;
    font-weight: 600;
    color: #5A605B;
}
.land-card-headline {
    @include title-md-font;
    color: #757E95;
}
.land-card-subtitle {
    color: #757E95;
    overflow-wrap: anywhere;
}
.land-card-subtitle-green {
    color: #007C3A;
}
.land-card-details-container {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 79px;
}

@media only screen and (max-width: $media-header-exception) {
    .land-card-container {
        display: flex;
        flex-direction: column;
    }
    .land-card-description-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .land-buttons-container {
        margin-left: unset;
        display: flex;
        flex-direction: column;
        column-gap: unset;
        width: 100%;
        row-gap: 16px; 
    }
}
@media only screen and (max-width: $media-responsive) {
    .land-card-subtitle,
    .land-card-subtitle-green,
    .land-card-title  {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
    }
    .land-card-headline {
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
    }
}
