<template>
    <div :class="['material-card-container', !material.available? 'material-card-unavailable' : null ]">
        <img :src="require(`../../assets/images/${material.src}`)" class="material-card-image" />
        <div class="material-card-details-container">
            <p class="material-card-details-title">{{ material.type }}</p>
            <p class="material-card-details-title">
                Amount:
                <span class="material-card-details-text">{{ balance }}</span>
            </p>
        </div>
        <div v-if="material.available" class="material-card-buttons-container">
            <province-button variant="light-btn-disabled" text="Sell" />
            <province-button variant="green-btn-disabled" text="Buy" />
        </div>
        <div v-else class="material-card-ribbon">
            <img src="../../assets/images/materialRibbon.svg" class="material-card-ribbon-image" />
            <p class="material-card-text-soon">Coming soon...</p>
        </div>
    </div>
</template>

<script>
import ProvinceButton from '@/assets/components/ProvinceButton.vue';
import './material-card.scss';

import { mapGetters } from 'vuex';
//import store from '@/store';

export default {
    name: 'MaterialCard',
    components: { ProvinceButton },
    props: {
        material: {
            type: Object,
            default: null,
        },
    },

    computed: {
        ...mapGetters([
            'wallet_address',
            'timber'
        ]),
        
        balance(){
            
            if(this.material.type  == "Timber"){
                return this.timber
            }
            return 0
            
        }
        
    },
     created(){
        
        if(this.material.type  == "Timber"){
            this.$store.dispatch('get_timber', this.wallet_address)
        }
        
    }
};
</script>
