@import "../../assets/global.scss";

.material-card-container {
    width: 330px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 7px 17px rgba(121, 121, 121, 0.07), 0px 2px 10px rgba(121, 121, 121, 0.0425185), 0px -3px 19px rgba(121, 121, 121, 0.0274815);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
}
.material-card-unavailable {
    background: rgba(117, 126, 149, 0.69);
}

.material-card-text-soon {
    @include title-md-font;
    color: #FFFFFF;
    position: absolute;
    top: -20%    
}
.material-card-ribbon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    height: 61px;
    width: 100%;
    margin-top: auto;
}
.material-card-image {
    width: 70%;
    height: auto;
}

.material-card-details-container {
    margin-right: auto;
}
.material-card-buttons-container {
    display: flex;
    gap: 52px;
}
.material-card-details-title {
    @include link-font;
    font-weight: 600;
    color: #5A605B;
}
.material-card-details-text {
    color: $dark-green;
}

@media only screen and (max-width: 1000px) {

    .material-card-buttons-container {
        width: 100%;
        flex-direction: column-reverse;
    }
    .material-card-ribbon {
        height: 52px;
    }
    .material-card-ribbon-image {
        width: 160%;
    }
    .material-card-text-soon {
        top: -30%    
    }
}