<template>
    <nav class="header-container">
        <img src="../../assets/images/logoIcon.png" class="header-logo" />
        <div class="header-buttons-container">
            <a
                href="https://map.province.gg/"
                rel="noopener noreferrer"
                style="textdecoration: none; color: inherit"
            >
                <header-button
                    :variant="isBtnSelected('map')"
                    radius="header-radius-left"
                    text="Map"
                    class="header-buttons"
                    @click="selectedBtn = 'map'"
                />
            </a>
            <router-link :to="{ name: 'Land' }"
                ><header-button
                    :variant="isBtnSelected('land')"
                    text="Land"
                    class="header-buttons"
                    @click="selectedBtn = 'land'"
            /></router-link>
            <router-link :to="{ name: 'Equipment' }"
                ><header-button
                    :variant="isBtnSelected('equipment')"
                    text="Equipment"
                    class="header-buttons"
                    @click="selectedBtn = 'equipment'"
            /></router-link>
            <router-link :to="{ name: 'Sales' }"
                ><header-button
                    :variant="isBtnSelected('sales')"
                    radius="header-radius"
                    text="Sales"
                    class="header-buttons"
                    @click="selectedBtn = 'sales'"
            /></router-link>

            <router-link :to="{ name: 'Material' }"
                ><header-button
                    :variant="isBtnSelected('material')"
                    radius="header-radius-right"
                    text="Material"
                    class="header-buttons"
                    @click="selectedBtn = 'sales'"
            /></router-link>
        </div>
        <header-user class="header-user-container" />
    </nav>
</template>

<script>
import './header-navbar.scss';
import HeaderButton from '@/assets/components/HeaderButton.vue';
import HeaderUser from '../HeaderUser/HeaderUser.vue';
export default {
    name: 'HeaderNavbar',
    components: { HeaderButton, HeaderUser },
    data() {
        return {
            selectedBtn: null,
        };
    },
    methods: {
        isBtnSelected(btn) {
            if (window.location.pathname.includes(btn))
                return 'header-btn-selected';
            if (window.location.pathname.includes(btn))
                return 'header-btn-selected';
            if (window.location.pathname.includes(btn))
                return 'header-btn-selected';
            return 'header-btn';
        },
    },
};
</script>
