@import "../../assets/global.scss";

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.header-user-container {
    margin-left: auto;
    grid-area: user;
}
.header-logo {
    margin-right: 56px;
    width: 68px;
    height: 68px;
    grid-area: logo;
}
.header-buttons-container {
    white-space: nowrap; 
    grid-area: buttons;
}
@media only screen and (max-width: $media-header-exception) {
    .header-container {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-areas:
        "logo user"
        "buttons buttons";
        margin-bottom: 20px;
    }
    .header-buttons-container {
        margin: auto;
        display: grid;
        width: 100%;
        margin-top:40px;
        grid-template-columns: repeat(5, 1fr);
    }
    .header-buttons {
        width: 100%;
    }
}
@media only screen and (max-width: $media-responsive) {
    .header-container {
        margin-bottom: 0px;
        width: 85%;
    }
    .header-logo {
        margin-right: 0px;
        width: 40px;
        height: 40px;
    }
}


