<template>
    <div class="sales-details-bid-container">
        
        <!--
        <p v-if="item.state==='ended' " class="sales-details-headline">Winning Bidder</p>
        <p v-else class="sales-details-headline">Leading Bid</p>
        -->
        <div style="width: 100%">
            <p class="sales-card-title">
                Leading Bid:
                <span class="sales-card-subtitle">{{leading_bid}} MPL</span>
            </p>
            
            <!--
            <p v-if="item.state==='ended'" class="sales-card-title">
                Winner:
                <span class="sales-card-subtitle-green">
                    0xd5b9751367f1106d2497b39d126b6b4ea6c84b8
                </span>
            </p>
            <p v-else class="sales-card-title">
                Leading Bidder:
                <span class="sales-card-subtitle-green">
                    0xd5b9751367f1106d2497b39d126b6b4ea6c84b7
                </span>
            </p>
            -->
        </div>
        <p class="sales-details-headline">Bids</p>
        
        <table class="sales-details-table">
            <tr class="sales-details-table-header">
                <td class="sales-details-headline sales-details-td">Address</td>
                <td class="sales-details-headline sales-details-td">Bid (MPL)</td>
            </tr>
            <tr v-for="bid in bids" :key="bid.address">
                <td class="sales-details-td">
                    <p class="sales-card-title sales-card-subtitle">
                        {{ bid.address }}
                    </p>
                </td>
                <td class="sales-details-td">
                    <p class="sales-card-title sales-card-subtitle-green">
                        {{ bid.bid }}
                    </p>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
import './sales-details.scss';
export default {
    name: 'SalesDetails',
    
    props: {
        item:{
            type: Object,
            required: false,
            default: null
        },
        bids: {
            type: Array,
            default: null,
        },
        // eslint-disable-next-line
        leading_bid: {
            type: Number,
            default: 0,
        },
    },
    
    data() {
        return {
            mockBid: [],
        };
    },
};
</script>
