.sales-details-bid-container {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
table {
    border-collapse: collapse;
}
.sales-details-table {
    width: 100%;
    box-shadow: 0px 7px 17px rgba(121, 121, 121, 0.07), 0px 2px 10px rgba(121, 121, 121, 0.0425185), 0px -3px 19px rgba(121, 121, 121, 0.0274815);
}
.sales-details-table-header {
    margin-right: auto;
}
table tr {
    border-bottom: 1px solid #757E95;
    &:last-child {
        border-bottom: none; 
    }
}
.sales-details-td {
    padding: 20px 25px;
}
.sales-details-headline {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #757E95;
}