@import "../global.scss";
.close-btn {
    width: 44px;
    height: 44px;
    /* White */
    border: 0px solid;
    background: #FFFFFF;
    /* Drop Shadow 2 */
    box-shadow: 0px 7px 17px rgba(121, 121, 121, 0.07), 0px 2px 10px rgba(121, 121, 121, 0.0425185), 0px -3px 19px rgba(121, 121, 121, 0.0274815);
    border-radius: 6px;
    /* Light Gray */
    &:active {
        background: #FFFFFF;
        box-shadow: inset 8px 5px 7px rgba(0, 82, 38, 0.08);
     }
};