@import "../global.scss";
@mixin hover {
    color: #FFFFFF;
    background: #06783B;
}
.header-btn {
    @include base-header-btn;
    &:hover {
        @include hover;
        cursor: pointer;
    }
    &:active {
        color: $dark-green;
        background: #FFFFFF;
        box-shadow: inset 8px 8px 16px rgba(0, 82, 38, 0.19);
    }
}
.header-radius-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.header-radius-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.header-btn-selected {
    @include base-header-btn;
    color: #FFFFFF;
    background: #06783B;
}

@media only screen and (max-width: $media-responsive) { 
    .header-btn {
        @include button-font-media;
        width: 100%;
        min-width: 87px;
    }
    .header-btn-selected {
        @include button-font-media;
        width: 100%;
        min-width: 87px;
    }
}
