@import "../global.scss";

@mixin icon($url) {
    appearance: none;
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: right 1rem center;
}
@mixin focus {
     -webkit-text-fill-color: #2EE684;
}
.regular-input {
    @include base-input;
    &:focus {
        @include focus;
    }
}
.input-icon-mpl {
    @include icon("../images/inputIconMPL.svg");
}
.full-input {
    @include base-input;
    color: #5A605B;
}