@import "../global.scss";

@mixin hover {
    color: #FFFFFF;
    background: $dark-green;
    box-shadow: 0px 4px 16px rgba(0, 202, 94, 0.49), 0px 27px 48px rgba(121, 121, 121, 0.07), 0px 10.4px 15.2889px rgba(121, 121, 121, 0.0425185), 0px 2.2px 3.91111px rgba(121, 121, 121, 0.0274815);
}
.light-btn {
    @include base-button;
&:hover {
    @include hover;
}
&:active {
    color: $dark-green;
    background: #FFFFFF;
    box-shadow: inset 8px 8px 16px rgba(0, 82, 38, 0.19);
}
}
.gray-btn-disabled {
    @include base-button;
    cursor: not-allowed;
    /* Light Gray */
    background: #757E95;
    color: #FFFFFF;
}
.light-btn-selected {
    @include base-button;
    color: $dark-green;
    background: #FFFFFF;
    box-shadow: inset 8px 8px 16px rgba(0, 82, 38, 0.19);
}
.green-btn-selected {
    @include base-button;
    color: #FFFFFF;
    background: #3A9766;
    box-shadow: inset 8px 8px 20px rgba(1, 61, 29, 0.47);
    border-radius: 6px;
}
.light-btn-disabled {
    @include base-button;
    background: #FFFFFF;
    opacity: 0.5;
    cursor: not-allowed;    
}
.green-btn {
    @include base-button;
    color: #FFFFFF;
    background: $light-green;
    box-shadow: 0px 7px 17px rgba(121, 121, 121, 0.07), 0px 2px 10px rgba(121, 121, 121, 0.0425185), 0px -3px 19px rgba(121, 121, 121, 0.0274815);
    &:hover {
        @include hover;
    }
    &:active {
        background: $light-green;
        box-shadow: inset 8px 8px 20px rgba(1, 61, 29, 0.47);
    }
}
.green-btn-disabled {
    @include base-button;
    opacity: 0.5;
    color: #FFFFFF;
    background: $light-green;
    cursor: not-allowed;
}
@mixin icon($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: right center;
}
.btn-ended-icon {
    width: 30px;
    height: 50px;
    @include icon("../images/endedIconBtn.svg");
}