@import "../global.scss";

@mixin arrow($url) {
    appearance: none;
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: right 1rem center;
}
@mixin focus {
     -webkit-text-fill-color: #2EE684;
}
.regular-dropdown {
    @include base-input;
    @include arrow("../images/dropdownArrowDown.svg");
    &:focus {
        @include focus;
        @include arrow("../images/dropdownArrowUp.svg");

     }
}
.full-dropdown {
    @include base-input;
    @include arrow("../images/dropdownArrowDown.svg");
    color: #5A605B;
    &:focus {
        @include focus;
        appearance: unset;
    }
}