@import "../../assets/global.scss";

.sales-header-headline {
    @include headline-md-font;
    color: $light-gray;
}
.sales-header-btns-container {
    margin-bottom: 80px;
}

@media only screen and (max-width: $media-responsive) {
    .sales-header-btns-container {
        margin-bottom: 40px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}