<template>
    <div>
        <p class="sales-header-headline">Sales</p>
        <div class="sales-header-btns-container">
            <header-button
                :variant="isBtnSelected('all')"
                radius="header-radius-left"
                text="All"
                @click="(filter = 'all'), $emit('filter', filter)"
            />
            <header-button
                :variant="isBtnSelected('active')"
                text="Active"
                @click="(filter = 'active'), $emit('filter', filter)"
            />
            <header-button
                :variant="isBtnSelected('ended')"
                radius="header-radius-right"
                text="Ended"
                @click="(filter = 'ended'), $emit('filter', filter)"
            />
        </div>
    </div>
</template>

<script>
import './sales-header.scss';
import HeaderButton from '@/assets/components/HeaderButton.vue';
export default {
    name: 'ViewLand',
    components: { HeaderButton },
    data() {
        return {
            filter: 'all',
        };
    },
    methods: {
        isBtnSelected(btn) {
            if (this.filter === btn) return 'header-btn-selected';
            if (this.filter === btn) return 'header-btn-selected';
            if (this.filter === btn) return 'header-btn-selected';
            return 'header-btn';
        },
    },
};
</script>
