<template>
    <div style="display: inline-block">
        <button class="close-btn">
            <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M10.9496 1.05023L1.05009 10.9497"
                    stroke="#757E95"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M1.05029 1.05023L10.9498 10.9497"
                    stroke="#757E95"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>
    </div>
</template>

<script>
import '../componentsStyles/close-button.scss';

export default {
    name: 'CloseButton',
};
</script>
