<template>
    <div style="display: inline-block">
        <button :class="[variant, radius ? radius : null]">
            {{ text }}
        </button>
    </div>
</template>

<script>
import '../componentsStyles/header-button.scss';

export default {
    name: 'HeaderButton',
    props: {
        /**
         * variant props
         * @values hearder-btn, header-btn-selected
         */
        variant: {
            type: String,
            required: true,
        },
        /**
         * @values any text
         */
        text: {
            type: String,
            required: true,
        },
        radius: {
            type: String,
            default: null,
        },
    }
};
</script>
