<template>
    <select
        v-model="selected"
        :name="name"
        :class="type"
        @change="$emit('selected', selected)"
    >
        <option value="" disabled selected hidden>{{ placeholder }}</option>
        <option
            v-for="option in options"
            :key="option"
            :value="option"
            class="dropdown-option"
        >
            {{ option }}
        </option>
    </select>
</template>

<script>
import '../componentsStyles/province-dropdown.scss';

export default {
    name: 'ProvinceDropdown',
    props: {
        /**
         * variant props
         * @values array with data
         */
        options: {
            type: Array,
            required: true,
        },
        name: {
            type: String,
            required: true,
        },
        type: {
            type: String,
            required: true,
        },
        placeholder: {
            type: String,
            default: 'Select an option',
        },
    },
    data() {
        return {
            selected: '',
        };
    }
};
</script>
