<template>
    <div style="display: inline-block">
        <button
            :class="isSelected(selected, variant)"
            :disabled="isDisabled(variant)"
        >
            <div v-if="icon" :class="icon" />
            {{ text }}
            
            <div v-if="loading">
                <i class="fa-solid fa-rotate fa-spin"></i>
            </div>
            
            
        </button>
    </div>
</template>

<script>
import '../componentsStyles/province-button.scss';

export default {
    name: 'ProvinceButton',
    props: {
        /**
         * variant props
         * @values light-btn, green-btn, green-btn-disabled, light-btn-disabled, gray-btn-disabled
         */
        variant: {
            type: String,
            required: true,
        },
        /**
         * @values any text
         */
        text: {
            type: String,
            required: true,
        },
        /**
         * @values ended
         */
        icon: {
            type: String,
            default: null,
        },
        selected: {
            type: Boolean,
            default: false,
        },
        loading: {
            type: Boolean,
            default: false,
        },
    },
    methods: {
        isSelected(selected, variant) {
            if (selected && variant === 'green-btn')
                return 'green-btn-selected';
            if (selected && variant === 'light-btn')
                return 'light-btn-selected';
            return variant;
        },
        isDisabled(variant) {
            if (variant === 'gray-btn-disabled') return true;
            if (variant === 'light-btn-disabled') return true;
            if (variant === 'green-btn-disabled') return true;
            return false;
        },
        isLoading(bool) {
            if (bool) {
                this.isDisabled('gray-btn-disabled');       
                return true;
            }
            return false;
        },
    },
};
</script>
