<template>
    <input
        v-model="valueModel"
        :class="[variant, icon ? icon : null]"
        :value="valueModel ? valueModel : 0"
        :type="type"
        style="display: inline"
        @input="$emit('inputValue', valueModel)"
    />
</template>

<script>
import '../componentsStyles/province-input.scss';

export default {
    name: 'ProvinceInput',
    props: {
        /**
         * variant props
         * @values regular-input, full-input
         */
        variant: {
            type: String,
            required: true,
        },
        /**
         * @values any text
         */
        value: {
            type: Number || String,
            default: 0,
        },
        /**
         * @values "number"
         */
        type: {
            type: String,
            default: '',
        },
        /**
         * @values input-icon-mpl
         */
        icon: {
            type: String,
            default: null,
        },
    },
    data() {
        return {
            valueModel: null,
        };
    },
};
</script>
