<template>
    <div class="with-equipment-container">
        
    <p class="with-equipment-headline">Equipment</p>
        <div class="with-bulldozer-container">
            <img :src="items[pageIndex]?.img_url" class="with-equipment-img" />
            <p class="with-equipment-pagination-text-mobile">
                {{ pagination }} / {{ items.length }}
            </p>
            <div class="with-equipment-pagination-mobile">
                <div
                    class="with-equipment-arrow-container arrow-mobile-left"
                    @click="paginationBtn('decrease')"
                >
                    <img
                        src="../../assets/images/leftArrow.svg"
                        class="with-equipment-arrow"
                    />
                </div>
                <div
                    class="with-equipment-arrow-container arrow-mobile-right"
                    @click="paginationBtn('increase')"
                >
                    <img
                        src="../../assets/images/rightArrow.svg"
                        class="with-equipment-arrow"
                    />
                </div>
            </div>
        </div>
        <div class="with-equipment-description-container">
            <span class="with-equipment-title">
                Item:
                <span class="with-equipment-detail"
                    >Bulldozer <!--{{ items[pageIndex]?.object }}-->
                </span>
            </span>
            
            <div class="with-equipment-status-container">
                <span class="with-equipment-title">
                    Ownership:
                    <span class="with-equipment-detail">{{
                        items[pageIndex]?.control_status
                    }}</span>
                </span>
                
            </div>
            
            
            <div v-if="items[pageIndex].lease === true && items[pageIndex]?.control_status == 'Owner'">
                
               <span class="with-equipment-title">
                    Under Lease
                </span>
                <br>
                <span class="with-equipment-title">
                    Expires (Province Time)
                    <span class="with-equipment-detail">
                        {{ moment(items[pageIndex]?.lease_ends_at).format('DD MMMM YYYY HH:mm ') }}
                    </span>
                </span>
                

            </div>
            
            <div v-else>
                <div class="with-equipment-status-container">
                    
                    <span class="with-equipment-title">
                        Status:
                        <span class="with-equipment-detail">{{
                            items[pageIndex]?.status
                        }}</span>
                    </span>
                
                    <div v-if="items[pageIndex]?.status == 'deployed'">
                        
                        <div class="with-equipment-progressbar-container">
                            <p class="with-equipment-title">Location: {{ items[pageIndex]?.new_location }}</p>
                            <progress class="with-equipment-progressbar" min="0" :value="clearing_progress" max="100">{{clearing_progress}}</progress>
                        </div>
                    </div>
                
                </div>

            </div>
            

            <div class="with-equipment-status-container">
                <span class="with-equipment-title">
                    Escrow:
                    <span class="with-equipment-detail">
                        {{ escrow_display }}
                    </span>
                </span>
                
 
            </div>
            <span class="with-equipment-title">
                Serial Number:
                <span class="with-equipment-detail">{{
                    items[pageIndex]?.serial
                }}</span>
            </span>

            <p class="with-equipment-title">
                Description:
                <span class="with-equipment-detail">{{
                    items[pageIndex]?.description
                }}</span>
            </p>
        </div>

        <div class="with-equipment-buttons">
            
            
            <province-button
                v-if="items[pageIndex].status !== 'deployed' && items[pageIndex].lease !== true && items[pageIndex].escrow != true"
                variant="light-btn"
                :selected="isLease ? true : false"
                text="Lease"
                @click="isBtnSelected('lease')"
            />
            <province-button
                v-if="sellable"
                variant="light-btn"
                :selected="isSell ? true : false"
                text="Sell"
                @click="isBtnSelected('sell')"
            />
            <province-button
                v-if="items[pageIndex].status !== 'deployed' && clearable"
                variant="green-btn"
                :selected="isClearLand ? true : false"
                text="Clear Land"
                @click="isBtnSelected('clearland')"
            />
        </div>
        <div class="with-equipment-pagination">
            <div
                class="with-equipment-arrow-container"
                @click="paginationBtn('decrease')"
            >
                <img
                    src="../../assets/images/leftArrow.svg"
                    class="with-equipment-arrow"
                />
            </div>
            <p class="with-equipment-pagination-text">
                {{ pagination }} / {{ items.length }}
            </p>
            <div
                class="with-equipment-arrow-container"
                @click="paginationBtn('increase')"
            >
                <img
                    src="../../assets/images/rightArrow.svg"
                    class="with-equipment-arrow"
                />
            </div>
        </div>
        <clear-land
            v-if="isClearLand"
            :serial="items[pageIndex].serial"
            @cancel="clearlandClose($event)"
        />
        <sell-dropdown
            v-if="isSell"
            parent="WithEquipment"
            :equipment="items[pageIndex]"
            @cancel="sellEquipmentClose($event)"
        />
        <lease-equipment 
            v-if="isLease"
            :equipment="items[pageIndex]"
            @cancel="leaseEquipmentClose($event)"
            
        />
    </div>
</template>

<script>
import ProvinceButton from '@/assets/components/ProvinceButton.vue';
import ClearLand from './components/ClearLand.vue';
import LeaseEquipment from './components/LeaseEquipment.vue';

import './with-equipment.scss';
import SellDropdown from '../SellDropdown/SellDropdown.vue';
import { EquipmentNetworkRequest } from '@/network/equipment.js';

// import ProvinceDropdown from '@/assets/components/ProvinceDropdown.vue';

import moment from 'moment';

export default {
    name: 'WithEquipment',
    components: { ProvinceButton, ClearLand, LeaseEquipment, SellDropdown },
    props: {
        items: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {
            isClearLand: false,
            isSell: false,
            isLease: false,
            pagination: 1,
            clearing_progress: "0",
            moment
        };
    },
    computed: {
        pageIndex() {
            return this.pagination - 1;
        },
        clearable(){
            if(this.items[this.pageIndex].escrow === true) return false
            return true
        },
        sellable(){
            if(this.items[this.pageIndex].escrow === true) return false
            if(this.items[this.pageIndex].status === 'deployed') return false
            if(this.items[this.pageIndex].lease === true) return false
            return true
        },
        escrow_display(){
            if(this.items[this.pageIndex].escrow === true) return "Yes"
            return "No"
        },

    },
    async created() {
        
      const network_request = new EquipmentNetworkRequest();
      
      try{
        if(this.items[this.pageIndex].status === "deployed"){
            const serial = this.items[this.pageIndex].serial
            var result = await network_request.get_clearing_progress(serial);
            if(!result.error)this.clearing_progress = result.percent_complete
        }
      } catch(err){
          console.log("Error Fetching Clearing Progress:",err)
      }
      
    },
    methods: {
        isBtnSelected(btn) {
            if (btn === 'clearland') {
                if(!this.clearable) return
                this.isSell = false;
                this.isLease = false;
                this.isClearLand = !this.isClearLand;
            }
            if (btn === 'sell') {
                this.isClearLand = false;
                this.isLease = false;
                this.isSell = !this.isSell;
            }
            if (btn === 'lease') {
                this.isClearLand = false;
                this.isSell = false;
                this.isLease = !this.isLease;
            }
            return null;
        },
        clearlandClose(event) {
            this.isClearLand = event;
        },
        sellEquipmentClose(event) {
            this.isSell = event;
        },
        leaseEquipmentClose(event) {
            this.isLease = event;
        },
        paginationBtn(action) {
            const upperLimit =
                this.pagination === this.items.length && action === 'increase';
            const lowerLimit = this.pagination === 1 && action === 'decrease';

            if (upperLimit) return null;
            if (lowerLimit) return null;

            if (action === 'increase') {
                return (this.pagination = this.pagination + 1);
            }
            if (action === 'decrease') {
                return (this.pagination = this.pagination - 1);
            }
        },
    },
};
</script>
