@import "../../assets/global.scss";

.with-equipment-container {
    display: grid;
    align-content: center;
    align-items: center;
    column-gap: 64px;
    row-gap: 24px;
    width: 100%;
    height:100%;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1177px;
    min-height: 601px;
    background: #FFFFFF;
    border-radius: 24px;
    box-shadow: 0px 7px 17px rgba(121, 121, 121, 0.07), 0px 2px 10px rgba(121, 121, 121, 0.0425185), 0px -3px 19px rgba(121, 121, 121, 0.0274815);
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 100px auto;
}
.with-equipment-img {
    width: 450px;
    height: 450px;

}
.with-equipment-progressbar {
    width: 100%;
    height: 22px;
    background: #E5F2EB;
    border-radius: 40px;
}
.with-equipment-status-container {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.with-equipment-progressbar-container {
    display: flex;
    gap:16px;
    align-items: center;
    white-space: nowrap
}

.with-equipment-pagination-mobile {
    display: none;
}
.with-equipment-pagination-text-mobile {
    display: none;
}
.with-equipment-headline {
    @include headline-md-font;
    margin-bottom: auto;
    color: $light-gray;
} 
.with-equipment-description-container {
    width: 100%;
    // max-width: 705px;
    grid-column-start: 2;
    grid-row-start: 2;
}
.with-bulldozer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EBF7F0;
    height: 300px;
    grid-column-start: 1;
    grid-row-start: 2;
}

.with-equipment-title {
    @include title-md-font;
    color: #5A605B;
}
.with-equipment-detail {
    @include title-md-font;
    color: $light-gray;
    line-height: 36px;
}
.with-equipment-pagination {
    grid-column-start: 1;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    gap: 57px;
}
.with-equipment-arrow-container {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 7px 17px rgba(121, 121, 121, 0.07), 0px 2px 10px rgba(121, 121, 121, 0.0425185), 0px -3px 19px rgba(121, 121, 121, 0.0274815);
    &:active {
        background: #FFFFFF;
        box-shadow: inset 8px 8px 16px rgba(0, 82, 38, 0.19);
    }
}
.with-equipment-arrow {
    width: 6px;
    height: 12px
}
.with-equipment-buttons {
    grid-column-start: 2;
    grid-row-start: 3;
    margin-left: auto;
    display: flex;
    gap: 32px;
}

.with-equipment-pagination-text {
    @include body-font;
    font-weight: 600;
    white-space: nowrap;
    color: $light-gray;
}

@media only screen and (max-width: $media-header-exception) {
    .with-equipment-buttons {
        gap: 2px;
    }
    .with-equipment-status-container {
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: $media-responsive) {
    .with-equipment-container {
        box-shadow: none;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .with-equipment-pagination-text {
        display: none;
    }
    .with-equipment-status-container {
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
    }
    .with-equipment-progressbar-container{
        display: flex;
    }
    .with-bulldozer-container {
        position: relative;
    }
    .with-equipment-description-container {
        grid-row-start: 3;
        grid-column-start: 1;

    }
    .with-equipment-pagination-text-mobile {
        @include body-font;
        font-weight: 600;
        font-size: 14px;
        white-space: nowrap;
        color: $light-gray;
        display:block;
        position: absolute;
        left: auto;
        bottom: 0
    }
    .with-equipment-pagination-mobile {
        position: absolute;
        display:block;
        display: flex;
        width: 110%;
        justify-content: center;
    }
    .with-equipment-title {
        font-size: 16px;
        font-weight: 500;
    }
    .arrow-mobile-left {
        margin-right: auto;
    }
    .arrow-mobile-right {
        margin-left: auto;
    }
    .with-equipment-pagination {
        display: none;
    }
    .with-equipment-buttons {
        flex-direction: column;
        width: 100%;
        gap: 16px;
        grid-row-start: 4;
        grid-column-start: 1;
        margin-bottom: 40px;
    }
    .with-equipment-detail {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
    .with-equipment-headline {
        display: none;
    }
}