.metamask-error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.metamask-error-logo {
    width: 250px;
    height: 250px;;
}
.metamask-error-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 90px;
    color: #5A605B;
    margin-top: 40px;
    margin-bottom: 0px;
}
.metamask-error-avalanche-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #5A605B;
    margin-top: 28px;
}