<template>
    <div class="metamask-error-container">
        <img src="../../assets/images/metamaskError.svg" class="metamaskError-logo" />
        <p class="metamask-error-text">Error</p>
        <p class="metamask-error-avalanche-text">Please connect metamask + avalanche mainnet</p>
    </div>
</template>

<script>
import "./metamask-error.scss"
export default {
    name: 'MetamaskError',
};
</script>
