@import "../../assets/global.scss";

.sales-card-container {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    column-gap: 92px;
    position: relative;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    // max-width: 1100px;
    min-height: 386px;
    background: #ffffff;
    box-shadow: 0px 7px 17px rgba(121, 121, 121, 0.07), 0px 2px 10px rgba(121, 121, 121, 0.0425185), 0px -3px 19px rgba(121, 121, 121, 0.0274815);
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}
.sales-image {
    width: 100%;
}
.sales-card-pricing-model-auction,
.sales-card-pricing-model-fixed {
    position: absolute;
    left: -60px;
    top: 30px;
    width: 220px;
    height: 45px;
    background: rgba(58, 151, 102, 0.09);
    transform: rotate(-45deg);
    color: #007C3A;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sales-card-pricing-model-fixed {
    background: #007C3A;
    color: #FFFFFF;
}
.sales-description-container {
    width: 100%;
}

.sales-card-buttons-container {
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 40px;
    grid-row-start: 3;
    grid-column-start: 2;
}
.sales-card-details-fixed {
    grid-row-start: 4;
    grid-column-start: 1; 
    grid-column-end: 3; 
}
.sales-input-bid-container {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.sales-card-yourbid-label {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #5A605B;
}
.sales-card-label {
    @include body-font;
    color: $dark-green;
    background: #EBF7F0;
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right:24px;
    margin-top:24px;
    padding: 8px;
}
.sales-card-title {
    @include link-font;
    font-weight: 600;
    color: #5A605B;
}
.sales-card-headline {
    @include title-md-font;
    color: #757E95;
}
.sales-card-subtitle {
    color: #757E95;
    overflow-wrap: anywhere;
}
.sales-card-subtitle-green {
    color: #007C3A;
}
.sales-card-details-container {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 79px;
}
.sales-card-address {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2px;
}

@media only screen and (max-width: $media-header-exception) {
    .sales-card-container {
        display: flex;
        flex-direction: column;
    }
    .sales-card-buttons-container {
        margin-left: unset;
        display: flex;
        flex-direction: column;
        column-gap: unset;
        width: 100%;
        row-gap: 16px; 
    }
    .sales-input-bid-container {
        width: 100%;
        grid-row-start: unset;
        grid-column-start: unset;
        grid-column-end: unset;
        margin-bottom: unset;
        margin-bottom:24px;
    }
    .sales-card-yourbid-label {
        margin-right: auto;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: #757E95;
    }
}
@media only screen and (max-width: $media-responsive) {
    .sales-card-subtitle,
    .sales-card-subtitle-green,
    .sales-card-title  {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
    }
    .sales-card-headline {
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
    }
}
