<template>

    <div v-if="filters" class="sales-card-container">

        <div
            v-if="item.pricing_model === 'auction'"
            class="sales-card-pricing-model-auction"
        >
            Auction
        </div>
        <div v-else class="sales-card-pricing-model-fixed">Sale</div>

        <div v-if="item.pricing_model=='auction'" class="sales-card-label">BID: {{display_price}} MPL</div>
        <div v-else class="sales-card-label">Price: {{display_price}} MPL</div>
        
    
        <div v-if="item.item_type === 'land'">
            <img
                src="https://province-images.ams3.digitaloceanspaces.com/images/land.png"
                class="sales-image"
            />
        </div>
       
        <div v-else>
            <img
                src="https://province-images.ams3.digitaloceanspaces.com/images/bulldozer_clear.png"
                class="sales-image"
            />
        </div>
 
 
        <div class="sales-description-container">
            <p class="sales-card-headline"> {{ sale_title }}</p>
            
        
            <div v-if="item.sale_type === 'lease'">
                
                <div class="sales-card-address">
                    <p class="sales-card-title">Lease Length (Province Time):</p>
                    <span class="sales-card-title sales-card-subtitle"> {{ item.lease_length}} Months</span>
                </div>

            </div>
        
            
            <p class="sales-card-title">
                Price: <span class="sales-card-subtitle-green">{{display_price}} MPL</span>
            </p>
            <div class="sales-card-address">
                <p class="sales-card-title">Seller:</p>
                <span class="sales-card-title sales-card-subtitle">{{
                    item.seller
                }}</span>
            </div>
            <p class="sales-card-headline">Details</p>
            <div class="sales-card-details-container">
                <div v-if="item.item_type == 'land'">
                    <p class="sales-card-title">
                        Item:
                        <span class="sales-card-subtitle">
                            {{item.item_type}}
                        </span>

                    </p>
                </div>
                
                
                <div v-else>
                    <p class="sales-card-title">
                        Item:
                        <span class="sales-card-subtitle">
                            Bulldozer
                        </span>
                    </p>
                </div>
                
                
                
                
                <p class="sales-card-title">
                    Ends:
                    <span class="sales-card-subtitle-green">
                        {{ moment(item.end).format('DD MMMM YYYY HH:mm ') }}
                    </span>
                </p>
                
                <div v-if="item.item_type == 'land'">
                    <p class="sales-card-title">
                        Land Plot:
                        <span class="sales-card-subtitle">{{ item.plot_int }}</span>
                    </p>
                </div>
                
                <div v-else>
                    <p class="sales-card-title">
                        Serial #:
                        <span class="sales-card-subtitle">{{ item.serial }}</span>
                    </p>
                </div>
                
                
                    <div v-if="timeleft <= 0">
                        <p class="sales-card-title">
                             Time Left: <span class="sales-card-subtitle-green"> Ended  </span>
                        </p>
                        
                        
                    </div>
                    
                    <div v-else>
                         <p class="sales-card-title">
                              Time Left:  <span class="sales-card-subtitle-green"> {{ moment.duration(timeleft, 'seconds').days() }} Days
                            {{ moment.duration(timeleft, 'seconds').hours() }}:{{
                                moment.duration(timeleft, 'seconds').minutes()
                            }}:{{ moment.duration(timeleft, 'seconds').seconds() }} </span>
                        
                        </p>
                   </div>
                        
                        
                    
            </div>
            

        </div>

        <p v-if="isBidBtnPressed" class="sales-card-yourbid-label">Your Bid</p>
        <div v-if="isBidBtnPressed" class="sales-input-bid-container">
            <province-input
                variant="regular-input"
                icon="input-icon-mpl"
                :disabled="(waiting_signature || waiting_network) && (active) ? true : false"
                :value="bidValue"
                type="number"
                @inputValue="inputValue($event)"
            >
            </province-input>
        </div>
      
        <div
            v-if="item.pricing_model === 'auction' && item.state === 'created'"
            class="sales-card-buttons-container"
        >
            
            <province-button
                variant="light-btn"
                text="Details"
                :selected="isDetailsAuction ? true : false"
                @click="isDetailsAuction = !isDetailsAuction"
            />
            
            <province-button
                :variant="loadingGreenBtnLogic"
                text="Bid"
                :loading="(waiting_signature || waiting_network) && (active) ? true : false"
                @click="bid()"
            />
            
             
            
            <div v-if="isBidBtnPressed">
                <province-button
                :variant="loadingLightBtnLogic"
                text="Cancel"
                @click="cancel()"
                />
                
            </div>

            
            <div v-if="user_message_display">
                <p class="success-modal-message">
                    {{ user_message_display }}
                </p>
                
            </div>
            
        </div>
        <div
            v-if="item.pricing_model === 'auction' && item.state === 'ended'"
            class="sales-card-buttons-container"
        >
            <province-button
                variant="gray-btn-disabled"
                text="Bidding Closed"
                icon="btn-ended-icon"
            />
            <province-button
                variant="light-btn"
                text="Details"
                :selected="isDetailsAuction ? true : false"
                @click="isDetailsAuction = !isDetailsAuction"
            />
        </div>
        
        
        <div v-if="item.pricing_model === 'auction' && item.state !=='ended'" class="sales-card-buttons-container">   
            <province-button
                variant="light-btn"
                text="Details"
                :selected="isDetailsAuction ? true : false"
                @click="isDetailsAuction = !isDetailsAuction"
            />
        </div>
        
        
        <sales-details v-if="isDetailsAuction" :bids="item.bids" :leading_bid="item.leading_bid" :item="item"/>
        <div
            v-if="item.pricing_model === 'fixed-price' && item.state === 'created'"
            class="sales-card-buttons-container"
        >
            <province-button
                :variant="loadingGreenBtnLogic"
                :text= "isLease ? 'Lease' : 'Buy'"
                :loading="(waiting_signature || waiting_network) && (active) ? true : false"
                @click="buy()"
            />
            
            <div v-if="user_message_display">
                <p class="success-modal-message">
                    {{ user_message_display }}
                </p>
                
            </div>
            
        </div>
        
        <div
            v-if="item.pricing_model === 'fixed-price' && item.state === 'ended'"
            class="sales-card-buttons-container"
        >
            <province-button
                variant="gray-btn-disabled"
                text="Sale Ended"
                icon="btn-ended-icon"
            />
            <province-button
                variant="light-btn"
                text="Details"
                :selected="isDetailsFixed ? true : false"
                @click="isDetailsFixed = !isDetailsFixed"
            />
        </div>
        <div v-if="isDetailsFixed" class="sales-card-details-fixed">
            <p class="sales-card-title">
                Buyer:<span
                    class="sales-card-subtitle"
                    style="marginleft: 21px"
                    >{{ item.seller }}</span
                >
            </p>
        </div>
    
    </div>

</template>

<script>
import ProvinceButton from '@/assets/components/ProvinceButton.vue';
import './sales-card.scss';
import ProvinceInput from '@/assets/components/ProvinceInput.vue';

import moment from 'moment';

import w3_util from '@/utils/web3_utils';
import NewBid from '@/controllers/NewBid';
import Buy from '@/controllers/Buy';

import { mapGetters } from 'vuex';

import { PurchaseNetworkRequest } from '@/network/purchase.js';
import SalesDetails from '../SalesDetails/SalesDetails.vue';


export default {
    name: 'SalesCard',
    components: {
        ProvinceButton,
        ProvinceInput,
        SalesDetails,
    },
    props: {
        item: {
            type: Object,
            default: null,
        },
        filters: {
            type: Boolean,
            default: null,
        },
    },

    data() {
        return {
            moment,
            isBidBtnPressed: false,
            isBidCancel: false,
            bidValue: null,
            timeleft: 0,
            isDetailsAuction: false,
            isDetailsFixed: false,
            active: false
        };
    },
    computed: {
        ...mapGetters([
            'wallet_address',
            'waiting_signature',
            'success_indicator',
            'waiting_network',
            'error_indicator',
            'error_message',
            'reset'
        ]),
        
        isLease(){
          if(this.item.sale_type == 'lease') return true
          return false
        },
        
        sale_title(){
             if(this.item.sale_type == 'lease') return "Lease"
          return "Sale"
        },
        
        loadingGreenBtnLogic() {
            if (this.waiting_signature || this.waiting_network) return 'gray-btn-disabled';
            if (this.isBidBtnPressed && this.isBidInputEmpty)
                return 'green-btn-disabled';
            return 'green-btn';
        },
        loadingLightBtnLogic() {
            if ( (this.waiting_signature || this.waiting_network) && (this.active) ) return 'gray-btn-disabled';
            return 'light-btn';
        },
        isBidInputEmpty() {
            if (!this.bidValue) return true;
            if (this.bidValue === 0) return true;
            return false;
        },
        display_price(){
            if(this.item.pricing_model == "auction"){
                return this.item.leading_bid
            }
            
            return this.item.price
        },
        user_message_display(){
            

            
            if(!this.active) return null
            
            if(this.error_indicator == true){
                return this.error_message;
            } else if(this.waiting_signature == true){
                return 'Waiting On Metamask Signature';
            } else if (this.waiting_network == true){
                return 'Waiting On Network';
            } else if (this.success_indicator == true) {
                return "Completed";
            } else {
                return null;
            }
            
            
        }
        
        
    },
    
    watch: {
        
        'reset' : function(){
            this.isBidBtnPressed=false;
            this.active = false;
            
        } 
        
    },
    
    created() {
        this.calc_time_left();
    },
    methods: {
        inputValue(event) {
            this.bidValue = event;
        },
        
        cancel(){
            this.isBidBtnPressed = false;
            this.active = false;
            this.$store.dispatch('reset_indicators')
            
        },

        async bid() {
            
            const temp = this.isBidBtnPressed;
            
            await this.$store.dispatch('flip_reset')
            
            // async not needed here.
            this.$store.dispatch('reset_indicators')
            
            this.isBidBtnPressed = temp
            

            if (!this.isBidBtnPressed){
                this.active = true
                return (this.isBidBtnPressed = !this.isBidBtnPressed);
            }

            this.active = true;

            const allowance_increaser = w3_util.increaseAllowance;
           
            const event_listenter = w3_util.approval_confirmation;

            const new_bid = new NewBid(
                this.item.sale_id,
                this.bidValue,
                this.wallet_address
            );
            

            try {
                
                await new_bid.increase_allowance(allowance_increaser,event_listenter);

                const network_request = new PurchaseNetworkRequest();
                
                await new_bid.create_bid(w3_util.generate_signed_msg,network_request.bid_land.bind(network_request));

            }catch (err) {
                
                console.log("Buy Attempt Error", err)
                
            }
        },
        
        async buy() {
            
            await this.$store.dispatch('flip_reset');
            
            // async not needed here.
            this.$store.dispatch('reset_indicators')

            this.active= true
            
            if (this.isBidBtnPressed) return console.log('metamask action');

            const allowance_increaser = w3_util.increaseAllowance;
            //const mpl_contract = w3_util.contract_factory();
            const event_listenter = w3_util.approval_confirmation;

            const new_buy = new Buy(
                this.item.sale_id,
                this.item.price,
                this.wallet_address.toLowerCase()
            );

            await new_buy.increase_allowance(
                allowance_increaser,
                event_listenter
            );

            const network_request = new PurchaseNetworkRequest();

            
            try{
                await new_buy.create_buy_order(
                    w3_util.generate_signed_msg,
                    network_request.buy_land.bind(network_request)
                );
            } catch (err) {
                
                console.log("Buy Attempt Error", err)
                
            }
        },

        //ToDo: This needs to be destroyed at the end of the component lifecycle
        calc_time_left() {
            if (Date.now() > this.item.end) {
                return 'Ended';
            }

            setTimeout(() => {
                const time_left = (this.item.end - Date.now()) / 1000;
                
                if(time_left <= 0){ this.time_left = 0}
                else { this.timeleft = time_left   }
                
                this.calc_time_left();
            }, 1000);
        },
    },
};
</script>
