<template>
    <div class="sell-dropdown-container">
        <p class="sell-dropdown-headline">Sell</p>

        <div class="sell-dropdown-dropdowns-container">
            <div>
                <p class="sell-dropdown-dropdown-text">Sale type</p>
                <province-dropdown
                    :options="
                        parent === 'WithEquipment'
                            ? ['Sell']
                            : ['Sell']
                    "
                    placeholder="Choose item"
                    type="regular-dropdown"
                    name="sell-dropdown"
                    @selected="isSelected($event, 'sell')"
                />
            </div>
            <div>
                <p class="sell-dropdown-dropdown-text">Pricing</p>
                <province-dropdown
                    v-model="pricingModel"
                    :options="[fixedPrice, 'Auction']"
                    placeholder="Choose item"
                    type="regular-dropdown"
                    name="sell-dropdown"
                    @selected="isSelected($event, 'pricingModel')"
                />
            </div>
            <div>
                <p class="sell-dropdown-dropdown-text">Days Until Start</p>
                <province-dropdown
                    v-model="listDate"
                    :options="['Now', '1', '2', '3', '4', '5', '6', '7']"
                    placeholder="Choose amount"
                    type="regular-dropdown"
                    name="sell-dropdown"
                    @selected="isSelected($event, 'daysFromNow')"
                />
            </div>
            <div>
                <p class="sell-dropdown-dropdown-text">
                    Sale Length (Days)
                </p>
                <province-dropdown
                    v-model="end_days"
                    :options="daysInAMonth"
                    placeholder="Enter amount"
                    type="regular-dropdown"
                    name="sell-dropdown"
                    @selected="isSelected($event, 'amount')"
                />
            </div>

            <div v-if="isPriceDropdown">
                <p class="sell-dropdown-dropdown-text">Price?</p>
                <province-input
                    v-model="price"
                    variant="regular-input"
                    icon="input-icon-mpl"
                    type="number"
                    name="price"
                    @inputValue="inputValue($event)"
                >
                </province-input>
                <p
                    v-if="priceTextValidation"
                    class="sell-dropdown-price-text-validation"
                >
                    Price is a mandatory field
                </p>
            </div>
            <div class="sell-dropdown-buttons">
                
                <div v-if="user_message_display">
                    <p class="success-modal-message">
                        {{ user_message_display }}
                    </p>
                    
                </div>
                
                
                <province-button
                    :variant="loadingLightBtnLogic"
                    text="Cancel"
                    @click="close"
                    
                />

                <province-button
                    :variant=" isBtnDisabled ? 'green-btn-disabled' : 'green-btn'"
                    :loading="(waiting_signature || waiting_network) && (active) ? true : false"
                    text="List"
                    @click="attempt_sale"
                />
                



                
            </div>


        </div>
    </div>
</template>

<script>
import './sell-dropdown.scss';
import ProvinceDropdown from '@/assets/components/ProvinceDropdown.vue';
import ProvinceButton from '@/assets/components/ProvinceButton.vue';
import ProvinceInput from '@/assets/components/ProvinceInput.vue';

import Offer from '@/controllers/Offer.js';
import w3_util from '@/utils/web3_utils';
import { OfferNetworkRequest } from '@/network/offer.js';

import { mapGetters } from 'vuex';

export default {
    name: 'SellDropdown',
    components: { ProvinceButton, ProvinceDropdown, ProvinceInput },

    props: {
        /**
         * variant props
         * @values LandCard, WithEquipment
         */
        parent: {
            type: String,
            default: null,
        },
        land: {
            type: Object,
            default: null
        },
        equipment: {
            type: Object,
            default: null
        }
    },
    data() {
        return {
            alldropdownsSelected: {},
            fixedPriceValue: undefined,
            isPriceDropdown: false,
            fixedPrice: 'Fixed Price',
            auction: 'Auction',
            end_days: 0,
            pricingModel: 'fixed-price',
            listDate: Date.now(),
            active: false,
            price: 0

        };
    },
    computed: {
        ...mapGetters([
            'wallet_address',
            'waiting_signature',
            'success_indicator',
            'waiting_network',
            'error_indicator',
            'error_message',
            'reset'
        ]),
        
        loadingLightBtnLogic() {
            if ( (this.waiting_signature || this.waiting_network) && (this.active) ) return 'gray-btn-disabled';
            return 'light-btn';
        },
        
        priceTextValidation() {
            if (this.fixedPriceValue === undefined) return true;
            if (this.fixedPriceValue === 0) return true;
            if (this.fixedPriceValue) return false;
            return true;
        },
        daysInAMonth() {
            let sum = [];
            for (let i = 1; i <= 30; i++) {
                sum.push(i);
            }
            return sum;
        },
        isBtnDisabled() {
            if (this.isPriceDropdown && !this.fixedPriceValue) return true;
            if (Object.keys(this.alldropdownsSelected).length < 4) return true;
            return false;
        },
        user_message_display(){
            

            
            if(!this.active) return null
            
            if(this.error_indicator == true){
                return this.error_message;
            } else if(this.waiting_signature == true){
                return 'Waiting On Metamask Signature';
            } else if (this.waiting_network == true){
                return 'Waiting On Network';
            } else if (this.success_indicator == true) {
                return "Completed";
            } else {
                return null;
            }
            
            
        },
    },
    
    created(){

        
    },

    methods: {
        
        close(){
            this.active = false;
            this.$store.dispatch('reset_indicators');
            this.$emit('cancel', false);
            
            
        },
       
        
        
        inputValue(event) {
            this.fixedPriceValue = event;
        },
        isSelected(event, type) {
            if (event === this.fixedPrice) this.isPriceDropdown = true;
            if (event === this.auction) this.isPriceDropdown = false;

            if (type === 'sell')
                return (this.alldropdownsSelected.sell = 'sell');
            if (type === 'pricingModel')
                return (this.alldropdownsSelected.pricingModel =
                    'pricingModel');
            if (type === 'daysFromNow')
                return (this.alldropdownsSelected.daysFromNow = 'daysFromNow');
            if (type === 'amount')
                return (this.alldropdownsSelected.amount = 'amount');
            return false;
        },

        async attempt_sale() {
            
            
            const item_type_lookup = {'LandCard': 'land', 'WithEquipment': 'equipment'}
            
            this.active = true;
            
            await this.$store.dispatch('change_error_indicator', false);
            await this.$store.dispatch('change_error_message', null);

            var start = Date.now() + 60 * 1000 * 5;

            if (this.listDate != 'Now') {
                start = this.listDate * 1000 * 60 * 60 * 24 + start;
            }

            let pricing_model;
            var list_price = null
            
            if(this.pricingModel != 'Auction'){
                pricing_model = 'fixed-price'
                list_price = parseInt(this.price);
            } else {
                pricing_model = 'auction'
            }

            const id = this.parent=="LandCard" ? this.land.plot_int : this.equipment.serial;

            const item_type = item_type_lookup[this.parent];
            const sale_type = 'sale';

            const offer = new Offer(
                start,
                this.end_days,
                pricing_model,
                item_type,
                sale_type,
                this.wallet_address
            );
            
            
            const network_request = new OfferNetworkRequest();

            //const plot_int = this.land.plot_int;
            
            
            try{
                await offer.create_sale_land(
                    id,
                    w3_util.generate_signed_msg,
                    network_request.sell_land.bind(network_request),
                    list_price
                );
            } catch (err){
                console.log("attempt sale error: ", err)
            }
        },
    },
};
</script>
<style></style>
