@import "../../assets/global.scss";


.sell-dropdown-dropdowns-container {
    display: grid;
    gap: 27px;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    margin-bottom: 40px;
}
.sell-dropdown-container{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    column-gap: 64px;
    // padding-bottom: 80px;
}
.sell-dropdown-price-text-validation {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FF0000;
    position: absolute;
}
.sell-dropdown-headline {
    @include headline-md-font;
    color: $light-gray;
    font-size: 24px;
    line-height: 24px;
}
.sell-dropdown-dropdown-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #5A605B;
}
.sell-dropdown-buttons {
    grid-row-start: 3;
    grid-column-start: 3;
    width: fit-content;
    display: flex;
    gap: 32px;
    margin-left: auto;
}
@media only screen and (max-width: $media-header-exception) {
    .sell-dropdown-dropdowns-container {
        display: flex;
        flex-direction: column;
    }
    .sell-dropdown-price-text-validation  {
        position: unset;
    }
    .sell-dropdown-buttons {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 32px;
        margin-left: unset;
    }
    .sell-dropdown-container{
        width: 100%;
        grid-row-start: 5;
    }
}
@media only screen and (max-width: $media-responsive) {
    .sell-dropdown-container{
        grid-column-end: unset;
    }
}