@import "../../assets/global.scss";

.no-equipment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height:100%;
    max-width: 1177px;
    min-height: 601px;
    background: #FFFFFF;
    border-radius: 24px;
    box-shadow: 0px 7px 17px rgba(121, 121, 121, 0.07), 0px 2px 10px rgba(121, 121, 121, 0.0425185), 0px -3px 19px rgba(121, 121, 121, 0.0274815);
}

.no-equipment-lg-headline {
    @include headline-lg-font;
    text-align: center;
    color: #5A605B;
}

.no-equipment-md-headline {
    @include headline-md-font;
    position: absolute;
    color: $light-gray;
    top: 0;
    left: 0;
    padding-left: 40px;
} 

.no-equipment-image {
    width: 25%;
    height: 25%;
    opacity: 0.5;
}



@media only screen and (max-width: $media-responsive) {
    .no-equipment-container {
        // min-height: 174px;
        box-shadow: none;
    }
    .no-equipment-lg-headline {
        font-size: 24px;
    }
    .no-equipment-md-headline {
        display: none;
    }
}
