<template>
    <div class="no-equipment-container">
        <p class="no-equipment-md-headline">No Equipment</p>
        <img class ="no-equipment-image" src="https://province-images.ams3.digitaloceanspaces.com/images/bulldozer_clear.png" />
        <p class="no-equipment-lg-headline">You Do Not Have Any Equipment</p>
    </div>
</template>

<script>
import './no-equipment.scss';
export default {
    name: 'NoEquipment',
};
</script>
