@import "../../../assets/global.scss";

.clearland-container {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    column-gap: 64px;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 80px;
}
.clearland-dropdown {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
}
.clearland-buttons {
    display: flex;
    margin-top: auto;
    margin-left: auto;
    grid-column-start: 2;
    gap: 32px;
}
.clearland-dropdown-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #5A605B;
}
.clearland-headline {
    @include headline-md-font;
    color: $light-gray;
    font-size: 24px;
    line-height: 24px;
}
@media only screen and (max-width: $media-responsive) {
    .clearland-container {
        grid-row-start: 5;
        grid-template-columns: 1fr;
        grid-column-end: unset;
    }
    .clearland-buttons {
        display: flex;
        flex-direction: column-reverse;;
        grid-column-start: 1;
        margin-left: unset;
        margin-top: 24px;
    }
}