<template>
    <div class="clearland-container">
        <p class="clearland-headline">Clearing land</p>

        <div class="clearland-dropdown">
            <p class="clearland-dropdown-text">
                Which forest plot do you want to clear?
            </p>
            <province-dropdown
                :options="land_plot_conversion"
                type="regular-dropdown"
                name="clearland-dropdown"
                @selected="isSelected($event)"
            />
        </div>
        <div class="clearland-buttons">
            
            <div v-if="user_message_display">
                <p class="success-modal-message">
                    {{ user_message_display }}
                </p>
                    
            </div>
            
            <province-button
                variant="light-btn"
                text="Cancel"
                @click="$emit('cancel', false)"
            />
            <province-button
                :variant="isPlotDropDown ? 'green-btn' : 'green-btn-disabled'"
                text="Deploy"
                @click="deploy"
            />
        </div>
    </div>
</template>

<script>
import './clear-land.scss';
import ProvinceDropdown from '@/assets/components/ProvinceDropdown.vue';
import ProvinceButton from '@/assets/components/ProvinceButton.vue';

// Controller Logic
import { IdleBulldozer } from '@/controllers/Bulldozer.js';
import w3_util from '@/utils/web3_utils';

import { EquipmentNetworkRequest } from '@/network/equipment.js';

import { mapGetters } from 'vuex';

export default {
    name: 'ClearLand',
    components: { ProvinceButton, ProvinceDropdown },
    props: {
        serial: {
            type: Number,
            default: null,
        },
    },
    data() {
        return {
            isPlotDropDown: false,
            plot_int: null,
        };
    },
    computed: {
        ...mapGetters([
            'waiting_signature',
            'success_indicator',
            'waiting_network',
            'land_owned_all',
            'wallet_address'
        ]),
        
        land_plot_conversion(){
                const owned_land = this.land_owned_all
                            .filter(x => x.land_status == "forest")
                            .map( x => x.plot_int)
            return owned_land
            
        },
        
        user_message_display(){
            

            
            if(this.error_indicator == true){
                return this.error_message;
            } else if(this.waiting_signature == true){
                return 'Waiting On Metamask Signature';
            } else if (this.waiting_network == true){
                return 'Waiting On Network';
            } else if (this.success_indicator == true) {
                return "Completed";
            } else {
                return null;
            }
            
            
        },
    },
    
    created() {
        this.$store.dispatch('refresh_owned_land', this.wallet_address)
            
    },
    
    methods: {
        isSelected(value) {
            this.plot_int = value;
            this.isPlotDropDown = true;
        },

        async deploy() {
            const serial = this.serial;

            const idle_bulldozer = new IdleBulldozer(serial);

            const network_request = new EquipmentNetworkRequest();

            const plot_int = this.plot_int;

            await idle_bulldozer.deploy(
                plot_int,
                w3_util.generate_signed_msg,
                network_request.clear_land.bind(network_request)
            );

        },

        //ToDo
        async sell() {},

        //ToDo
        async lease() {},
    },

};
</script>
<style></style>
