@import "../../../assets/global.scss";

.lease-equipment-container{
    display: grid;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    column-gap: 64px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 40px;
}
.lease-equipment-dropdowns-container {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    display: grid;
    gap: 27px;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    margin-bottom:27px;
}
.lease-equipment-headline {
    @include headline-md-font;
    color: $light-gray;
    font-size: 24px;
    line-height: 24px;
}
.lease-equipment-dropdown-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #5A605B;
}
.lease-equipment-buttons {
    grid-row-start: 6;
    grid-column-start: 3;
    display: flex;
    gap: 32px;
    margin-left: auto;
}
.sell-dropdown-button {
    width: 100%;
}
@media only screen and (max-width: $media-responsive) {
    .lease-equipment-headline {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .lease-equipment-buttons {
        grid-row-start: 6;
        grid-column-start: 1;
        grid-column-end: 4;
        display: flex;
        flex-direction: column-reverse;
        gap: 32px;
        margin-left: unset;
    }
    .lease-equipment-container{
        grid-row-start: 5;
        grid-template-columns: 1fr;
        grid-column-end: unset;
    }
    .lease-equipment-dropdowns-container {
        display: flex;
        flex-direction: column;
    }
}