<template>
    <div class="lease-equipment-container">
        <p class="lease-equipment-headline">Start A Lease</p>

        <div class="lease-equipment-dropdowns-container">
            <div>
                <p class="lease-equipment-dropdown-text">Sale type</p>
                <province-dropdown
                    v-model="sale_type"
                    :options="['Lease']"
                    value="Lease"
                    placeholder="Lease"
                    type="regular-dropdown"
                    name="sell-dropdown"
                    class="sell-dropdown-button"
                    @selected="isSelected($event, 'sales')"
                />
            </div>
            <div>
                <p class="lease-equipment-dropdown-text">Pricing model</p>
                <province-dropdown
                    v-model="pricingModel"
                    :options="[fixedPrice, 'Auction']"
                    placeholder="Choose item"
                    type="regular-dropdown"
                    name="sell-dropdown"
                    class="sell-dropdown-button"
                    @selected="isSelected($event, 'pricingModel')"
                />
            </div>
            <div>
                <p class="lease-equipment-dropdown-text">Days from now</p>
                <province-dropdown
                    v-model="listDate"
                    :options="['Now', '1', '2', '3', '4', '5', '6', '7']"
                    placeholder="Choose amount"
                    type="regular-dropdown"
                    name="sell-dropdown"
                    class="sell-dropdown-button"
                    @selected="isSelected($event, 'start')"
                />
            </div>
            
            <div>
                <p class="lease-equipment-dropdown-text">Length of Sale (Days)</p>
                <province-dropdown
                    v-model="end_days"
                    :options="[ '1', '2', '3', '4', '5', '6', '7']"
                    placeholder="Choose amount"
                    type="regular-dropdown"
                    name="sell-dropdown"
                    class="sell-dropdown-button"
                    @selected="isSelected($event, 'sale_length')"
                />
            </div>
            <div>
                <p class="lease-equipment-dropdown-text">
                    Lease Length(Months-Province Time)
                </p>
                <province-dropdown
                    v-model="lease_length"
                    :options="lease_length_options"
                    placeholder="Enter amount"
                    type="regular-dropdown"
                    name="sell-dropdown"
                    class="sell-dropdown-button"
                    @selected="isSelected($event, 'lease_length')"
                />
            </div>
            <div v-if="isPriceDropdown">
                <p class="lease-equipment-dropdown-text">Price?</p>

                <province-input
                    v-model="price"
                    variant="regular-input"
                    icon="input-icon-mpl"
                    type="number"
                    name="price"
                    @inputValue="inputValue($event)"
                    @selected="isSelected($event, 'price')"
                >
                </province-input>
                
                
            </div>
        </div>
        <div class="lease-equipment-buttons">
            
            <div v-if="user_message_display">
                    <p class="success-modal-message">
                        {{ user_message_display }}
                    </p>
                    
            </div>
            
            
            <province-button
                variant="light-btn"
                text="Cancel"
                @click="$emit('cancel', false)"
            />
            <province-button
                :variant="isBtnDisabled ? 'green-btn-disabled' : 'green-btn'"
                text="List"
                @click = "attempt_sale"
            />
        </div>
    </div>
</template>

<script>
import './lease-equipment.scss';
import ProvinceDropdown from '@/assets/components/ProvinceDropdown.vue';
import ProvinceButton from '@/assets/components/ProvinceButton.vue';
import ProvinceInput from '@/assets/components/ProvinceInput.vue';


import Offer from '@/controllers/Offer.js';
import w3_util from '@/utils/web3_utils';
import { OfferNetworkRequest } from '@/network/offer.js';

import { mapGetters } from 'vuex';

export default {
    name: 'LeaseEquipment',
    components: { ProvinceButton, ProvinceDropdown, ProvinceInput },
    
     props: {
        equipment: {
            type: Object,
            default: null
        }
    },

    data() {
        return {
            alldropdownsSelected: {},
            isPriceDropdown: false,
            fixedPrice: 'Fixed Price',
            Auction: "Auction",
            price: 0,
            pricingModel: 'fixed-price',
            sale_type: "Lease",
            listDate: Date.now(),
            lease_length: 6,
            end_days: 1,
        };
    },
    computed: {
        daysInAMonth() {
            let sum = [];
            for (let i = 0; i <= 30; i++) {
                sum.push(i);
            }
            return sum;
        },
        lease_length_options() {
            let sum = [];
            for (let i = 6; i <= 24; i++) {
                sum.push(i);
            }
            return sum;
        },
        isBtnDisabled() {
            if(this.pricingModel == "Fixed Price" && this.price <1) return true
            if (Object.keys(this.alldropdownsSelected).length < 4) return true;
            if(this.pricingModel == "Fixed Price" && Object.keys(this.alldropdownsSelected).length < 5) return true;
            if(this.isPriceDropdown && !this.alldropdownsSelected.price == true)return true;
            return false;
        },
        

        ...mapGetters([
            'wallet_address',
            'waiting_signature',
            'success_indicator',
            'waiting_network',
            'error_indicator',
            'error_message',
            'reset'
        ]),
        
        
        
        user_message_display(){
            
            if(this.error_indicator == true){
                return this.error_message;
            } else if(this.waiting_signature == true){
                return 'Waiting On Metamask Signature';
            } else if (this.waiting_network == true){
                return 'Waiting On Network';
            } else if (this.success_indicator == true) {
                return "Completed";
            } else {
                return null;
            }
            
            
        },
        
        
    },
    methods: {
        
        inputValue(event) {
            this.alldropdownsSelected["price"] = true
            this.fixedPriceValue = event;
        },
        
        
        isSelected(event, type) {
            
            //Lease is the default option. Does not could towards the count of fields that have been completed
            if (type === "sales") return false
            if (event === this.fixedPrice) this.isPriceDropdown = true;
            if (event === this.Auction) this.isPriceDropdown = false;
            this.alldropdownsSelected[type] = true;
            return false;
        },
        
        
        async attempt_sale() {
            

            await this.$store.dispatch('change_error_indicator', false);
            await this.$store.dispatch('change_error_message', null);

            var start = Date.now() + 60 * 1000 * 5;

            if (this.listDate != 'Now') {
                start = this.listDate * 1000 * 60 * 60 * 24 + start;
            }

            let pricing_model;
            var list_price = null
            
            if(this.pricingModel != 'Auction'){
                pricing_model = 'fixed-price'
                list_price = parseInt(this.price);
            } else {
                pricing_model = 'auction'
            }

            const id = this.equipment.serial;

            const item_type = "equipment"
            const sale_type = 'lease';
            
            const offer = new Offer(
                start,
                this.end_days,
                pricing_model,
                item_type,
                sale_type,
                this.wallet_address,
                this.lease_length
            );
            
            
            const network_request = new OfferNetworkRequest();


            try{
                await offer.create_sale_land(
                    id,
                    w3_util.generate_signed_msg,
                    network_request.sell_land.bind(network_request),
                    list_price
                );
            } catch (err){
                console.log("attempt sale error: ", err)
            }
            
        },
        
    },
};
</script>
<style></style>
