<template>
    <div class="view-equipment">
        
        <no-equipment v-if="isEquipmentEmpty" />
        <with-equipment v-else :items="bulldozer_items" />
        
    </div>
</template>

<script>
import WithEquipment from '@/components/WithEquipment/WithEquipment.vue';
import NoEquipment from '@/components/NoEquipment/NoEquipment.vue';
import { mapGetters } from 'vuex';



export default {
    name: 'ViewEquipment',
    components: {
        NoEquipment,
        WithEquipment,
    },
    computed: {
        ...mapGetters(['bulldozer_items', 'wallet_address', 'land_items_forest']),
        isEquipmentEmpty() {
            if (this.bulldozer_items.length === 0) return true;
            return false;
        },
    },

    created() {
        this.$store.dispatch('refresh_bulldozer_list', this.wallet_address)
            
        
        // Only land that is owned and is in forest state is shown here. User's can't clear other types of land yet.
        this.$store.dispatch('refresh_land_list_forest', this.wallet_address)
           
    },
    
   
};
</script>

<style>
.view-equipment {
    display: flex;
    justify-content: center;
}
</style>
