<template>
    <div class="land-view-container">
        <p class="land-view-header-headline">Land</p>
        <land-card v-for="item in land_owned_all" :key="item.plot_int" :item="item" />
    </div>
</template>

<script>
import LandCard from '@/components/LandCard/LandCard.vue';

import { mapGetters } from 'vuex';

export default {
    name: 'ViewLand',
    components: { LandCard },
    data() {
        return {
            filterBtn: 'all',
        };
    },
    computed: {
        ...mapGetters(['wallet_address', 'land_owned_all']),
        isEquipmentEmpty() {
            if (this.bulldozer_items.length === 0) return true;
            return false;
        },
    },

    created() {
        this.$store.dispatch('refresh_owned_land', this.wallet_address)
            
    },
};
</script>
<style scoped>
.land-view-container {
    width: 100%;
    height: 100%;
    max-width: 1284px;
    min-height: 601px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    background: #ffffff;
    box-shadow: 0px 7px 17px rgba(121, 121, 121, 0.07), 0px 2px 10px rgba(121, 121, 121, 0.0425185), 0px -3px 19px rgba(121, 121, 121, 0.0274815);
    border-radius: 24px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
/* exception - If $media-responsive ever changes this 740px should too */
@media only screen and (max-width: 740px) {
    .land-view-container {
        box-shadow: unset;
    }
}
</style>
