<template>
    <div class="material-view-container">
        
        <material-card
            v-for="material in mockMaterial"
            :key="material.id"
            :material="material"
        />
    </div>
</template>

<script>
import MaterialCard from '@/components/materialCard/MaterialCard.vue';



export default {
    name: 'ViewMaterial',
    components: {
        MaterialCard,
    },

    data() {
        return {
            mockMaterial: [
                {
                    type: 'Timber',
                    src: 'timber.png',
                    available: true,
                },
                {
                    type: 'Lumber',
                    src: 'lumber.png',
                    available: false,
                },
                {
                    type: 'Grain',
                    src: 'grain.svg',
                    available: false,
                },
                {
                    type: 'Iron',
                    src: 'iron.svg',
                    available: false,
                },
                {
                    type: 'Steel',
                    src: 'steel.svg',
                    available: false,
                },
                {
                    type: 'Crude Oil',
                    src: 'crudeOil.svg',
                    available: false,
                },
                {
                    type: 'Petrol',
                    src: 'petrol.svg',
                    available: false,
                },
            ],
        };
    },
    
   
};
</script>
<style scoped>
.material-view-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 88px;
    width: 100%;
    height: 100%;
    max-width: 1284px;
    min-height: 601px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    background: #ffffff;
    box-shadow: 0px 7px 17px rgba(121, 121, 121, 0.07),
        0px 2px 10px rgba(121, 121, 121, 0.0425185),
        0px -3px 19px rgba(121, 121, 121, 0.0274815);
    border-radius: 24px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
/* Exception so that it does not break */
@media only screen and (max-width: 1400px) {
    .material-view-container {
        grid-template-columns: 1fr 1fr;
    }
}
/* Exception so that it does not break */
@media only screen and (max-width: 1000px) {
    .material-view-container {
        grid-template-columns: 1fr;
        box-shadow: unset;
        background: unset;
    }
}
</style>
