<template>
    <div class="sales-view-container">

        <sales-header @filter="filter($event)" />
        <sales-card
            v-for="item in sales"
            :key="item.id"
            :item="item"
            :filters="filters(item)"
        />
    </div>
</template>

<script>
import SalesCard from '@/components/SalesCard/SalesCard.vue';
import SalesHeader from '@/components/SalesHeader/SalesHeader.vue';
import { mapGetters } from 'vuex';
import store from '../store';
//import PageLoading from '@/components/PageLoading/PageLoading.vue';

export default {
    name: 'ViewSales',
    components: {
        SalesCard,
        SalesHeader,
        //PageLoading,
    },
    data() {
        return {
            filterBtn: 'all',
        };
    },
    computed: {
        ...mapGetters([
            'sales',
            'error_indicator',
            'error_message',
            'waiting_signature',
            'success_indicator',
        ]),
    },
    created() {
        this.$store
            .dispatch('refresh_sales_list', this.wallet_address)
            .then(() => {
                console.log(this.sales, 'sales');
            });
    },
    methods: {
        isModal(type) {
            if (type === 'failed')
                store.dispatch('change_error_indicator', false);
            if (type === 'success')
                store.dispatch('change_success_indicator', false);
            return null;
        },
        filter(event) {
            this.filterBtn = event;
        },
        filters(item) {
            if (this.filterBtn === 'all') return true;
            if (this.filterBtn === 'active' && item.state === 'created')
                return true;
            if (this.filterBtn === 'ended' && item.state !== 'created')
                return true;
            return false;
        },
    },
};
</script>
<style scoped>
.sales-view-container {
    width: 100%;
    height: 100%;
    max-width: 1284px;
    min-height: 601px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0px 7px 17px rgba(121, 121, 121, 0.07),
        0px 2px 10px rgba(121, 121, 121, 0.0425185),
        0px -3px 19px rgba(121, 121, 121, 0.0274815);
    padding-top: 40px;
    background: #ffffff;
    border-radius: 24px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
/* exception - If $media-responsive ever changes this 740px should too */
@media only screen and (max-width: 740px) {
    .sales-view-container {
        box-shadow: unset;
    }
}
</style>
