<template>
    <div>
        <province-input
            variant="regular-input"
            text="Some text"
            text-right="MPL"
        />
        <province-button variant="green-btn" text="Button" />
        <province-dropdown
            :options="[
                'Example',
                'Example2',
                'Example3',
                'Example4',
                'Example4',
                'Example4',
                'Example4',
            ]"
            type="regular-dropdown"
        />
        <close-button />
        <header-button text="header" variant="header-btn" />
    </div>
</template>

<script>
import ProvinceDropdown from '@/assets/components/ProvinceDropdown.vue';
import ProvinceButton from '../../assets/components/ProvinceButton.vue';
import ProvinceInput from '../../assets/components/ProvinceInput.vue';
import HeaderButton from '@/assets/components/HeaderButton.vue';
import CloseButton from '@/assets/components/CloseButton.vue';

export default {
    name: 'AllComponents',
    components: {
        ProvinceButton,
        ProvinceInput,
        ProvinceDropdown,
        HeaderButton,
        CloseButton,
    },
};
</script>
<style></style>
