@import "../../assets/global.scss";

.header-user-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-user-mpl {
    @include link-font;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 52px;
    background: #EBF7F0;
    border-radius: 14px;
    color: #007C3A;
    grid-area: mpl;

}
.header-user-address {
    @include link-font;
    margin-left: 24px;
    color: #5A605B;
    grid-area: address;
}
.header-user-icon {
    margin-left: 24px;
    grid-area: icon;
}

@media only screen and (max-width: $media-responsive) {
    .header-user-mpl{
        font-size: 14px;
        margin-right: unset;
        height: 30px;
    }
    .header-user-address {
        font-size: 16px;
    }
    .header-user-icon {
        width: 30px;
        height: 30px;
    }
    .header-user-container {
        display: grid;
        grid-template-areas: "mpl icon address";
    }
}
