<template>
    <div class="header-user-container">
        <div class="header-user-mpl">{{ mplToken }}</div>
        <div class="header-user-address">{{ display_address }}</div>
        <img src="../../assets/images/userIcon.svg" class="header-user-icon" />
    </div>
</template>

<script>
import './header-user.scss';
import { mapGetters } from 'vuex';

export default {
    name: 'HeaderUser',

    computed: {
        ...mapGetters(['mpl_token_balance', 'wallet_address']),
        mplToken() {
            return `${this.mpl_token_balance.toLocaleString('en-US')} MPL`;
        },
        display_address: function () {
            var full_address = this.wallet_address;
            var display =
                full_address.substr(0, 5) +
                '...' +
                full_address.substr(
                    full_address.length - 5,
                    full_address.length
                );

            return display;
        },
    },
};
</script>
