@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

// colors
$dark-green: #007C3A;
$light-green: #3A9766;
$light-gray: #757E95;

// fonts
@mixin headline-lg-font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
};
@mixin headline-md-font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
};
@mixin title-lg-font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
};
@mixin title-md-font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
};
@mixin link-font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
};

// For buttons and text-field
@mixin button-font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
};
@mixin body-font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}
@mixin base-button {
    /* Property 1=Default */
    /* Auto layout */
    @include button-font;
    display: flex;
    cursor: pointer;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 16px;
    background: #FFFFFF;
    /* Drop Shadow */
    box-shadow: 0px 7px 17px rgba(121, 121, 121, 0.07), 0px 2px 10px rgba(121, 121, 121, 0.0425185), 0px -3px 19px rgba(121, 121, 121, 0.0274815);
    border-radius: 6px;
    border: 0px solid;
    /* Button */
    width: 100%;
    min-width: 122px;
    height: 50px;
    /* Gark Green */
    color: $dark-green
};

@mixin base-header-btn {
    @include button-font;
    color: $dark-green;
    border: 2px solid $dark-green;
    width: 100%;
    min-width: 125px;
    height:45px;
    border: 1px solid #007C3A;
    background: #E9EAF0;
    // border-radius: 8px;
} 

@mixin base-input {
    @include button-font;
    width: 100%;
    // min-width: 348px;
    height: 50px;
    background: #FFFFFF;
    /* Drop Shadow 2 */
    box-shadow: 0px 7px 17px rgba(121, 121, 121, 0.07), 0px 2px 10px rgba(121, 121, 121, 0.0425185), 0px -3px 19px rgba(121, 121, 121, 0.0274815);
    border-radius: 12px;
    border: 0px solid;
    color: $light-gray;
    padding-left: 24px;
    outline: none;
} 

//breakpoints
$media-responsive: 740px;
$media-header-exception: 1230px; // exception otherwise header breaks.
@mixin button-font-media {
    font-family: 'Inter';
    // font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
};