@import "./assets/global.scss";


* {
    box-sizing: border-box;
}
.app-container {
    width: 100%;
    min-width: 520px;
    // max-width: 1440px;
    max-width: 100%;
    padding-left: 56px;
    padding-right: 56px;
    background: url('./assets/images/background.svg') no-repeat center center fixed;
    background-size: cover;
}
@media only screen and (max-width: $media-header-exception) {
    .app-container {
        width: 100%;
    }   
}
@media only screen and (max-width: $media-responsive) {
    .app-container {
        width: 100%;
        padding-left: unset;
        padding-right: unset;
        background-size: unset;
        background: unset;
    }   
}
