<template>
    <div class="app-container" >
        <default-layout />
    </div>
</template>

<script>
import DefaultLayout from './layouts/DefaultLayout.vue';
import "./app.scss"
// import AllComponents from './components/AllComponents.vue';

export default {
    name: 'App',
    components: {
        // AllComponents,
        DefaultLayout,
    },
};
</script>
