<template>
    <div>
        <div v-if="!metamask_install_status">
            Please install
            <a href="https://metamask.io/download/">Metamask</a> to play.
        </div>

        <div v-else>
            <div v-if="wallet_status.connected_status">
                <header-navbar />
                <router-view />
                <div class="mobile-bottom-line"></div>
            </div>
            <metamask-error v-else />
        </div>
    </div>
</template>

<script>
import HeaderNavbar from '@/components/HeaderNavbar/HeaderNavbar.vue';
import { mapGetters } from 'vuex';
import MetamaskError from '@/components/MetamaskError/MetamaskError.vue';

export default {
    name: 'DefaultLayout',

    components: { HeaderNavbar, MetamaskError },

    computed: {
        ...mapGetters([
            'wallet_address',
            'metamask_install_status',
            'wallet_status',
        ]),
    },

    created() {
        this.$store.dispatch('check_metamask');
        this.$store.dispatch('connect_metamask').then((result) => {
            if (result.connected_status) {
                this.$store.dispatch('refresh_mpl_balance');
            }
        });

        window.ethereum.on('chainChanged', () => {
            this.$store
                .dispatch('connect_metamask')
                .then((result) => {
                    console.log('connect metamask result: ', result);

                    this.$store.dispatch('refresh_mpl_balance');
                })
                .catch(() => {
                    console.log(
                        'metamask connect error: ',
                        this.error_message.error
                    );
                });
        });

        window.ethereum.on('accountsChanged', () => {
            this.$store
                .dispatch('connect_metamask')
                .then((result) => {
                    console.log('connect metamask result: ', result);

                    this.$store.dispatch('refresh_mpl_balance');
                })
                .catch(() => {
                    console.log(
                        'metamask connect error: ',
                        this.error_message.error
                    );
                });
        });
    },

    methods: {
        isBtnSelected() {},
    },
};
</script>
<style>
@media only screen and (max-width: 740px) {
    .mobile-bottom-line {
        margin-bottom: 8px;
        background: #000000;
        border-radius: 100px;
        width: 135px;
        height: 5px;
        margin-left: auto;
        margin-right: auto;
    }
}
</style>
